{{template "header"}}
{{template "header2" .}}
  <body>

    <div class="top-wrapper">
      <div class="container">
        <h1>Explore. Discover. Dream.</h1>
        <h1>FOLLOW MY JOURNEY</h1>
        <p>"20 years from now, you will be more disappointed by the things you did't do than you did do.</p>
        <p>So throw off the bowlines. Sale away from the safe harbour & catch the trade winds in your sale."-Mark Twain</p>
      </div>
      <div class="btn-wrapper">
        {{if .LoggedIn}}
        <h2>welcome</h2>
          {{else}}
          <a href="/form/signup" div class="btn signup">Register
          </a>
          <p>or sign up with</p>
          <a href="/login/facebook" div class="btn facebook"><span class= "fa fa-facebook-f"></span>with Facebook
          </a>
          <a href="#" div class="btn twitter"><span class="fa fa-twitter"></span>with Twitter</a>
          {{end}}
        </div>
    </div>

    <div class="travel-wrapper">
       <div class="container">
         <div class="heading">
           <h2>Where to start your journey</h2>
         </div>
         <div class="lessons">
           <div class="lesson">
             <div class="lesson-icon">
               <img src="https://maxcdn.icons8.com/Share/icon/Maps//africa1600.png">
               <p>Africa</p>
             </div>
             <p class="txt-contents"></p>
           </div>
           <div class="lesson">
             <div class="lesson-icon">
               <img src="http://www.osgasia.org/eng/img/maps/countries.png">
               <p>Asia</p>
             </div>
             <p class="txt-contents"></p>
           </div>
           <div class="lesson">
             <div class="lesson-icon">
               <img src="http://www.heeratours.com/tour-pac-img/north-america-icon.png">
               <p>North America</p>
             </div>
             <p class="txt-contents"></p>
           </div>
           <div class="lesson">
             <div class="lesson-icon">
               <img src="https://upload.wikimedia.org/wikipedia/commons/4/4f/South_America.svg">
               <p>South America</p>
             </div>
          </div>
           <div class="lesson">
             <div class="lesson-icon">
               <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/c/c6/Central_America.svg/2000px-Central_America.svg.png">
               <p>Central America</p>
            </div>
          </div>
          <div class="lesson">
            <div class="lesson-icon">
              <img src="https://cdn1.iconfinder.com/data/icons/world-maps-1/512/europe-512.png">
              <p>Europe</p>
           </div>
          </div>
           <div class="lesson">
             <div class="lesson-icon">
               <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/6/65/MiddleEast_blacky.svg/1133px-MiddleEast_blacky.svg.png">
               <p>The Middle East</p>
            </div>
          </div>
            <div class="lesson">
              <div class="lesson-icon">
                <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/3/32/Neotropic-Ecozone-Caribbean.svg/1117px-Neotropic-Ecozone-Caribbean.svg.png">
                <p>The Caribbean</p>
             </div>
            </div>
             <div class="lesson">
               <div class="lesson-icon">
                 <img src="https://d30y9cdsu7xlg0.cloudfront.net/png/301972-200.png">
                 <p>Oceania</p>
              </div>
            </div>
           <div class="clear"></div>
         </div>
       </div>
     </div>
     <div class="message-wrapper">
  <div class="container">
    <div class="heading">
      <h2>Let's begin your Journey!</h2>
      <h3>You Only Live Once❤️</h3>
    </div>
    <a href="/yourpage"><span class="btn message" href="/yourpage">Start</span></a>
  </div>
</div>

</body>

{{template "footer"}}
