{{template "header"}}
{{template "header2"}}
<link rel="stylesheet" href="/public/login.css">
    <form method="POST" action="/">
          <input id="state" name="state" type="state" placeholder="State">
          <input id="code" name="code" type="code" placeholder="code">
        <button>Submit</button>
    </form>
    <a href="/form/signup" id="create-account">Create account</a>
{{template "footer"}}
